@model IEnumerable<WebDeveloper.Core.Entities.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="artists-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistId)
            </th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ArtistId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArtistId">Delete</a>
                </td>
            </tr>
        }
    </tbody>*@
</table>

@section HeadStyles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#artists-table").DataTable({
                processing: true,
                serverSide: true,
                ajax: "/Artists/Datatables",
                columns: [
                    { "data": "name" },
                    { "data": "artistId" },
                ]
            });
        });
    </script>
}
